h2, #controller-colors-style .fa-sliders,.card-title,#year,a,a:hover,#yearsOfExperience{
    color:#007bff;
}
.social-network .fa{
    color: #fff;
    background: none repeat scroll 0 0 #007bff;
}

.social-network .fa:hover {
    /*opacity: 0.7;*/
    color:#007bff;
    background: none repeat scroll 0 0 #fff;
}

.button-show-content .icon rect,.button-show-content .icon line {
    fill: #007bff;
    stroke: #007bff;

}

.icon-title-skill{
    /*    border: 1px solid #007bff;*/
    color:#007bff;
}
.color-bg-custom{
    background-color: #007bff;
}
#skills h2{
    color: #fff;
}
