h2, #controller-colors-style .fa-sliders,.card-title,#year,a,a:hover,#yearsOfExperience{
    color:#848383;
}
.social-network .fa{
    color: #fff;
    background: none repeat scroll 0 0 #848383;
}

.social-network .fa:hover {
    color:#848383;
    background: none repeat scroll 0 0 #fff;
}

.button-show-content .icon rect,.button-show-content .icon line {
    fill: #848383;
    stroke: #848383;

}

.icon-title-skill{
    /*    border: 1px solid #848383;*/
    color:#848383;
}
.color-bg-custom{
    background-color: #848383;
}
#skills h2{
    color: #fff;
}
